 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
.d_flex {
  display: flex;
}
.text_w {
  color: white;
}
.pwd_box {
  height: 300px;
  width: 500px;
  background: rgb(74, 170, 200);
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px solid grey;
  border-radius: 10px;
}
.pwd_gen {
  width: 50%;
  height: auto;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  margin: 1rem;
}
#name, #lastname {
  padding: 0.5rem;
}
